Python--Basis
Anaconda--Installation
Jupter Notebooks-- Shortcuts & Basic Commands  
Print Statements({},.format,f')
Variables
Datatypes
Conversion of data types (Type casting)
Operator (in, not in , or ,and ,==)  
Conditional Statements (If else nested if else)
Looping(for ,while , nested loop)
Control statements(break, continue)
String manupulations(Accessing strings ,string methods)
String Slicing
Lists (Accessing Lists, List methods)
Iterators
Working with nested lists
Tuples(Accessing tuples, working)
Sets
Lists vs tuples
Dictionary(Accessing Dictionary,working)
Modules(import,math,random,datetime,packages)
Functions(defination,calling,arguments)
Command line execution
Files(Read,write)
Advance Functions(map,lambda,zip,set,comprehension)
Interview Programms 
Industry led problem statements 

Programs >>
fibonacci
Frizbuzz
prime no
factorial recursion
reverse string
palindrome
count occurance of word in list
binary sort
bubble sort
first last name from list using map
unique combination char+numbers
find min values in lists
find values that are not in list
count of elements in string with string+count

In [3]:
#Print Different methods 
name ='Ashish'
age= 3398398
cgpa=8.9898
Indian =True 
#Method1
print("My name is {} and my age is  {} ".format(name,age))
#Method2
print(f'My name is {name} and my age is {age}')
#Method3
print("My name is "+name ,"My age is "+str(age))
#Method4
print ("my cgpa is {0:.3f}".format(cgpa))
# To convert numbers with comma
print("my age is {0:,}".format(age))

My name is Ashish and my age is  3398398
My name is Ashish and my age is 3398398
My name is Ashish My age is 3398398
my cgpa is 8.990
my age is 3,398,398

In [25]:
import random
import os 
import datetime
filename='{}.png'.format(os.getpid())
filename1='{}.png'.format(datetime.timedelta())
filename1

'0:00:00.png'

In [14]:
# Datatypes Check
print(type('name'))
print(type(None))
print(type(True))
print(type(1.0))
print(type(1))
def f(x):
    return x
print(type(f))

<class 'str'>
<class 'NoneType'>
<class 'bool'>
<class 'float'>
<class 'int'>
<class 'function'>

In [44]:
#Division and Mod
print(5/2)
print(5//2) # output is integer
print(5%2)

2.5
2
1

In [11]:
#String Concatinate 
name ='Ashish'+str(1)
print(name)
#name='Ashish'+ 1
#print(name) #error 
name = 'Ashish'*3
print(name)

Ashish1
AshishAshishAshish

In [ ]:
# Strings Concatinate 2
by = "You are"
az = "doing a great "
io = "job"
qy = "keep it up!"
a=1
message =by+" "+az+io+", "+qy +str(a)
print(message)

In [1]:
#String manupulations
a='Amit  '
s='ashish is nice'
print(s.capitalize())
print(s.split(" ")[0])
print(s.count('s'))
print(s.islower())
print(s.isupper())
print(s.index('s'))
print(s.istitle())
print(s.title())
print(s.replace('ashish',a))
print(len(a))
print(a.strip())
print(a.rstrip())

Ashish is nice
ashish
3
True
False
1
False
Ashish Is Nice
Amit   is nice
6
Amit
Amit

In [45]:
#lists
mylist=[]
mylist.append('a')
mylist.append(1)
mylist.append('Sunday')
mylist.append(True)
mylist.append(1.5)
print(mylist)

['a', 1, 'Sunday', True, 1.5]

In [ ]:
#copy lists
a=[1,2,2]
b=list(a)
b.append(3)
print(a)
print(b)

In [56]:
#How many 9 are there !
nums = [4, 2, 23.4, 9, 545, 9, 1, 234.001, 5, 49, 8, 9 , 34, 52, 1, -2, 9.1, 4]
how_many=nums.count(9)
print(how_many)

3

In [57]:
#index
music = "Pull out your music and dancing can begin"
bio = ["Metatarsal", "Metatarsal", "Fibula", [], "Tibia", "Tibia", 43, "Femur", "Occipital", "Metatarsal"]

print(music.index("m"))
print(music.index("your"))

print(bio.index("Metatarsal"))
print(bio.index([]))
print(bio.index(43))

14
9
0
3
6

In [3]:
# Split 
song = "The rain in Spain..."
wds = song.split('ai')
print(wds)
# join 
print('ai'.join(wds))

['The r', 'n in Sp', 'n...']
The rain in Spain...

In [59]:
#join
wds = ["red", "blue", "green"]
glue = ';'
s = glue.join(wds)
print(s)
print(wds)

print("***".join(wds))
print("".join(wds))

red;blue;green
['red', 'blue', 'green']
red***blue***green
redbluegreen

In [48]:
#adding 2 lists
a=[1,2]
b=[3,4]
c=a+b
print(c)

[1, 2, 3, 4]

In [7]:
#lists integers string to lists
#method1
string_int="1,2,3,54,65"
list_int=string_int.split(",")    
print(list_int)
"".join(list_int)

['1', '2', '3', '54', '65']

'1235465'

In [52]:
#for loop in lists
mylist=[1,2,3,4,5,6]
mylist1=['ashish','vikas','prabhu']
for item in mylist:
    print(item)
for key,item in enumerate(mylist1):
    print(key,item)  
for i in range(len(mylist)-1):
    print(mylist[i])
#iter
out=[123,333,222]
item=iter(out)    
print(next(item))
print(next(item))
print(next(item))

1
2
3
4
5
6
0 ashish
1 vikas
2 prabhu
1
2
3
4
5

In [52]:
#enumerate 
for counter, item in enumerate(['apple', 'pear', 'apricot', 'cherry', 'peach']):
    print(counter, item)

0 apple
1 pear
2 apricot
3 cherry
4 peach

In [55]:
# slicing
mylist=['apple', 'pear', 'apricot', 'cherry', 'peach']
print(mylist[0])
print(mylist[1])
print(mylist[1:3])
print(mylist[:])
print(mylist[:3])
print(mylist[4:])
# Reverse 
print(mylist[::-1])

apple
pear
['pear', 'apricot']
['apple', 'pear', 'apricot', 'cherry', 'peach']
['apple', 'pear', 'apricot']
['peach']
['peach', 'cherry', 'apricot', 'pear', 'apple']

In [99]:
# for loop 
for name in ["Joe", "Amy", "Brad", "Angelina", "Zuki", "Thandi", "Paris"]:
    print("Hi", name, "Please come to my party on Saturday!")

Hi Joe Please come to my party on Saturday!
Hi Amy Please come to my party on Saturday!
Hi Brad Please come to my party on Saturday!
Hi Angelina Please come to my party on Saturday!
Hi Zuki Please come to my party on Saturday!
Hi Thandi Please come to my party on Saturday!
Hi Paris Please come to my party on Saturday!

In [1]:
import csv
with open('./mpg.csv') as csvfile:
    mpg=list(csv.DictReader(csvfile))

In [85]:
sum(float(d['cty']) for d in mpg)

'18'

In [13]:
mytable=[x*y for x in range(1,10) for y in range(1,10)]
mytable
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

In [15]:
a=['AMIT']
b=['NANCY']

for i in a:
    for j in b:
        if i==j:
            print('1')
            b.remove['j']
            a.remove['i']

In [23]:
for i,v in enumerate(a):
    print(v)

AMIT

In [30]:
mylist=list(mystring)
for item in mylist:
    print(item)
a=mystring.split(" ")

A
s
h
i
s
h

i
s

n
i
c
e

In [36]:
print(type(mystring))
for i in a:
    print (i)
mystring.strip()

<class 'str'>
Ashish
is
nice

'Ashish is nice'

In [10]:
#Zip and dict
a=('a','b','c','d')
b=(1,3,4,2)
x=dict(zip(a,b))
sorted(x.items(),key=lambda x:x[1],reverse=True)

[('c', 4), ('b', 3), ('d', 2), ('a', 1)]

In [6]:
# copy and append 
s=['as','aa','qq']
x=[]
t=s.copy()
for i in range(len(s)):
    a=t.pop()
    x.append(a)
x

['qq', 'aa', 'as']

In [12]:
#File operation
#Read and write in a file 
with open("dummy1.txt","r+") as myfile:
    print(myfile.read())
    myfile.write("new content")
myfile.close()

Hello how are you ? I am fine new content

In [13]:
with open("dummy1.txt","r+") as myfile:
    print(myfile.read())

Hello how are you ? I am fine new contentnew content

In [21]:
#Random 
import random
mylist=[12,43,54,21,34]
print(random.choice(mylist))
print(random.random())
print(random.randrange(0,11,2))

43
0.027845284561782924
8

In [35]:
L3=L2.copy()
for x in L1 :
    if x in L3 :
        ind=L3.index(x)
        L2[ind]=0

In [12]:
#iter
out=[123,333,222]
item=iter(out)    
print(next(item))
print(next(item))
print(next(item))

123
333
222

In [17]:
# Dictionary
a=[{'a':{'x':2,'y':3},'b':{'x':5,'y':6}}]
for k,v in enumerate(a):
    for k1 in v.keys():
        print(v[k1]['y'])

3
6

In [15]:
v

{'a': {'x': 2, 'y': 3}, 'b': {'x': 5, 'y': 6}}

In [ ]:
#substring 
def sub(s):
    for i in range(len(s)):
        
            out.append(s[i:])
            out.append(s[:-i])
    return out

for i in range(len(s)-1):    
    sub(s[i:])
out=[i for i in out if i]
set(out)

In [1]:
import numpy as np

In [12]:
x=np.arange(10)
x
y=np.array(['a','c','b','e','d','f','g','h','i','j'])
a=dict(zip(y,x))
a

{'a': 0,
 'c': 1,
 'b': 2,
 'e': 3,
 'd': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9}

In [27]:
a['a']=20
a['g']=60
sorted(a.items(),key=lambda x:x[1])[:5]

[('c', 1), ('b', 2), ('e', 3), ('d', 4), ('f', 5)]

#### Sort elements in dictionary

In [28]:
dic = { key:value for key,value in zip(X_train2.columns,clf.feature_importances_)}
ans =[key for key,_ in sorted(dic.items(),key = lambda item:item[1],reverse=True)[:5]]
#sorted(a,key=lambda x: a.items(),reverse=True)
#ans =[key for key,_ in sorted(dic.items(),key = lambda item:item[1],reverse=True)[:5]]

['a', 'c', 'b', 'e', 'd', 'f', 'g', 'h', 'i', 'j']

In [8]:
s="abcdefabc"
a=s.split("abc")
a

['', 'def', '']

In [7]:
"_".join(a)

'_def_'

In [9]:
x=s.replace("abc","")

['d', 'e', 'f']

In [10]:
s="asssss"
c=[i for i in s]
c

['a', 's', 's', 's', 's', 's']

In [11]:
x=list(s)

In [12]:
x

['a', 's', 's', 's', 's', 's']

In [13]:
"".join(x)

'asssss'

In [20]:
f=open('./dummy1.txt')
text=f.read()
len(text.splitlines())

[]

###Regular Expressions 

#\w # mathches [a-zA_Z0-9] 
#\W # mathches ^[a-zA_Z0-9] 
#\d # matched [0-9]
#\D # matches ^[0-9]
#\s # matches [  \t\n\r\v]

##* - zero or multiple times 
##+ - one or multiple times 
##? - zero or one 
{n}

In [52]:
import re
s='12-05-2019 12/09/2019 23-Oct-1921 23-Jan-2000'
a=s.split(" ")

re.findall(r'\d{2}[/-]\d{2}[/-]\d{4}',s)

['12-05-2019', '12/09/2019']

In [53]:
re.findall(r'\d{2}[-\s+](Oct|Jan)[-\s+]\d{4}',s)

['Oct', 'Jan']

In [54]:
re.findall(r'\d{2}[-\s+](?:Oct|Jan)[-\s+]\d{4}',s)

['23-Oct-1921', '23-Jan-2000']

In [4]:
s=['Hello','ass','ass1']

In [5]:
s[2]='ashi'

In [6]:
s

['Hello', 'ass', 'ashi']